main {
  position: relative;
  height: 100%;
  isolation: isolate;
  overflow: hidden;

  .interactables {
    aspect-ratio: 1/1;
    width: 20%;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s /* Dit is een custom ease */
        linear(
          0,
          0.03 1.1%,
          0.125 2.4%,
          0.906 9.8%,
          1.046 12.3%,
          1.11 15%,
          1.116 16.3%,
          1.11 17.8%,
          1.014 25.8%,
          0.987 31.2%,
          1.001 47.2%,
          1
        ),
      border-radius 0.8s
        linear(
          0,
          0.03 1.1%,
          0.125 2.4%,
          0.906 9.8%,
          1.046 12.3%,
          1.11 15%,
          1.116 16.3%,
          1.11 17.8%,
          1.014 25.8%,
          0.987 31.2%,
          1.001 47.2%,
          1
        );

    will-change: transform;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

main .interactables {
  /* Hier staan de elementen die je kan aanpassen */
  &.scaler {
    transform-origin: left;
    &::before {
      background: #ff0000;
    }

    &[data-animated="true"] {
      transform: scale(2.5);
    }
  }

  &.slider {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    transform: translate(calc(50vw - 100%), calc(50vh - 100%));

    &::before {
      background: #0000ff;
    }

    &[data-animated="true"] {
      transform: translate(-50%, -80%);
    }
  }

  &.grower {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(0);
    width: 25%;

    &::before {
      background: #00ff00;
    }

    &[data-animated="true"] {
      transform: translate(-50%, -50%) scale(1.5) rotate(135deg);
    }
  }

  &.shaper {
    mix-blend-mode: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    corner-shape: superellipse(0.3);
    overflow: hidden;
    transition: border-radius 0.75s;

    &::before {
      background: black;
    }

    &[data-animated="true"] {
        border-radius: 50%;
    }
  }
}
