*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
  /* Primary Yellow */
  --primary: #fefcac;
  --primary-dark: #e8c84a;
  --primary-darker: #d4b038;

  /* Secondary Brown */
  --secondary: #a65c18;
  --secondary-light: #c97b45;
  --secondary-dark: #7d4412;

  /* Accent Orange */
  --accent: #eea33f;
  --accent-light: #ffb865;
  --accent-dark: #d18520;

  /* Neutral */
  --neutral: #ffffff;
  --neutral-light: #fff8e7;
  --neutral-dark: #f5e6c8;

  color: var(--secondary-dark);
  background: var(--primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  view-transition-name: canvas;
  display: block;
}

/* States */

.container[data-status] {
  --container-height: 400px;
  container-type: size;

  height: var(--container-height);
  display: flex;

  canvas {
    background: black;
    width: var(--container-height);
    aspect-ratio: 1/1;
  }

  p {
    font-size: clamp(1rem, 25vw, 50cqw);
    line-height: 1;

    &:last-of-type {
      opacity: 0.5;
    }
  }
}
