.display {

  .interactie {
    overflow-y: hidden;
    overflow-y: clip;
    width: 100vw;
    font-size: clamp(1rem, 10vw, 100vw);
    
    span {
      font-size: inherit;
      transition: color 0.2s ease-in;
      color: inherit;

      &:last-of-type {
        display: inline-block;
        transform: translateY(-100%);
        animation: slide-in 0.2s ease-out forwards;
      }
    }
  }
}

@keyframes slide-in {
  to {
    transform: translateY(0);
    color: var(--accent);
  }
}
